
.container{
    padding: 8px;
    background: #f7f3f3;
    margin: 70px ;
}

.container .text-1{
    background: #d6eaf9;
    padding: 8px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.container .text-2{
    background: #d6eaf9;
    padding: 8px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.container .text-3{
    background: #d6eaf9;
    padding: 38px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}


.container .text-1 .text-h1{
    font-size: 36px;
    font-weight: 950;
}

.container .text-2 .text-h2{

    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 16px 8px;
    
}
.container .text-3 .text-h3{
    
}

.container .text-3 .button-container{
    text-decoration: none;
    background: #fff;
    padding: 15px;
    /* margin-top: 40px; */
    color: black;
    font-size: 25px;
    font-weight: 500;
    /* margin: 24px 8px; */
}

